<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE On
    
    # We dont want to pass calls to css, script, and image files to the index, 
    # whether they exist or not. So quit right here, and allow direct access
    RewriteRule ^.*\.(gif|png|jpe?g|bmp|css|js|swf|wav|avi|mpg)$ - [NC,L]
    
    # Deny access to the system and third_party and System folders. All defined
    # file extensions from the previos rewrite rule wont make it here, which allows
    # direct access to images and such in these folders still.
    RewriteRule ^third_party/ - [R=403,L,NC]
    RewriteRule ^system/ - [R=403,L,NC]

    # Dont redirect direct links to non-existant files or directories to the index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other URLs to index.php/URL
    RewriteRule ^(.*)$ index.php?uri=$1 [PT,L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Tell PHP that the mod_rewrite module is DISABLED.
    SetEnv HTTP_MOD_REWRITE Off
</IfModule>

# Deny direct accesss to template files
<Files ~ "(.tpl)">
    Order allow,deny
    Deny from all
</Files>