/*
 * jQuery Nivo Slider v2.3
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:10px;
	background:#000;
	color:#fff;
	opacity:0.9; /* Overridden by captionOpacity setting */
	width:950px;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
	text-align:center;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:165px;
	display:block;
	width:60px;
	height:60px;
	z-index:99;
	cursor:pointer;
	background:url(../images/arrows.png) no-repeat;
    text-indent:-9999px;
}
a.nivo-nextNav {
	background-position:-60px 0;
	right:25px;
}
a.nivo-prevNav {
	left:15px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav{
	width:120px;
	position:absolute;
	bottom:-34px;
	left:434px;
}
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	width:16px;
	height:16px;
	float:left;
	margin:0  8px 5px  0;
	background: url(../images/style/slider-ctrls.png) no-repeat;
	text-indent:-9999px;
}
.nivo-controlNav a.active,
.nivo-controlNav a:hover {
	background:url(../images/style/slider-ctrls-active.png) no-repeat;
}
