
/* ==================================================
 * Generic Selectors
 * ================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-family: 'Verdana','Arial','Helvetica', sans-serif;
    font-size: 8.7pt;
    color: #000000;
    background-color: #6b8196;
    background-image: url('../../img/msgbox/background.jpg');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: top center;
    height: 100%
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    line-height: 1.4;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: cursor;
}
a.white_link {
    color: #FFFFFF;
}
a.white_link:hover {
    text-decoration: underline;
}
a.black_link {
    color: #FFFFFF;
}
#wrapper{
    width: 960px;
    margin: 20px auto;
    text-align: left;
}
#console{
    height: 220px;
    width: 916px;
    overflow: auto;
    background-color: #000;
    padding: 15px;
    font-family: monospace;
    font-size: 12px;
    color: #FFF;
}
.content{
    padding: 15px;
}
#command {
    border: solid 1px #CCC;
    padding: 5px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 5px;
    width: 915px;
    height: 30px;
}
.c_prefix{
    color: #0077E7;
}
.c_keyword{
    color: #9eff63;
}
.c_arraykey {
    color: #FF9000;
}
.c_error{
    color: #FF0000;
}


/* ==================================================
 * 1) Main Styling
 * ================================================== */

.block-border {
    margin-top: 15px;
    background: url("../img/misc/shine-effect.png") repeat-x scroll 0 0 #828282;
    border: 1px solid #25333c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.block-content {
    background: none repeat scroll 0 0 #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #4b5e6b;
}

.black {
    background: none repeat scroll 0 0 #000;
}

.block-content.dark-bg {
    background: url("../img/container/block/dark-bg.png") repeat-x scroll top left transparent;
    border: 1px solid #111a22;
    box-shadow: none !important;
}

.block-border .block-content + .block-content {
    margin-top: 5px;
}

.block-border .block-content {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.block-header {
    background: url("../img/container/block/block-header-bg.png") repeat-x scroll top left #cfdee5;
    min-height: 26px;
    border: 1px solid #4b5e6b;
    border-bottom: 1px solid #9ba6ab;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    margin-bottom: -2px;
    position: relative;
    z-index: 5;
    padding: 6px;
}

.block-header.small {
    min-height: 27px;
}

.block-header h1 {
    float: left;
    /*
    color: #faf9f7;
    text-shadow: 1px 1px 1px #475d68; 
    */
    color: #f3f3f3;
    text-shadow: 0 0 5px #2a4757;
    font-size: 15px !important;
}

#status {
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.1em;
    padding-top: 3px;
    padding-left: 4px;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    width: 296px;
    height: 21px;
    margin-top: auto;
    border-radius: 5px;
    display: inline;
    position: relative;
    float: right;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
#debug_status {
    font-weight: normal;
}

#title-bar {
    background: url("../img/container/title-bar/title-bar-bg.png") repeat-x scroll top left transparent;
    height: 26px;
    position: relative;
    padding: 8px;
}

.shadow-titlebar {
    height: 14px;
}


/* ==================================================
 * 2) IDE Section
 * ================================================== */
#ide {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 946px;
    height: 450px;	

}
#ide_left {
    position: relative;
    display: inline;
    float: left;
    width: 200px;
    height: 450px;	
    background-color: #FFFFFF;
    border-right: 1px solid #aaaaaa;
}
#trace_logs {
    position: relative;
    width: 198px;
    height: 350px;	
    background-color: #FFFFFF;
}
#ide_right {
    position: relative;
    display: inline;
    float: right;
    width: 745px;
    height: 450px;	
}
#code_window {
    overflow: auto;
    position: relative;
    width: 745px;
    height: 450px;	
    background-color: #FFFFFF;
}


/* ==================================================
 * 3) Buttons
 * ================================================== */

.button {
    background: url("../img/buttons/button-blue.png") repeat-x scroll 0 0 #2d5672;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #111111;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: 14px;
    margin-left: 3px;
    margin-right: 3px;
}

input[type="submit"].button {
    height: 26px;
}

.button:hover {
    background: url("../img/buttons/button-blue.png") repeat-x scroll 0 -24px #4d7690;
    color: #fff !important;
    text-decoration: none;
}

.button:active {
    background: url("../img/buttons/button-blue.png") repeat-x scroll 0 -48px #6290b2;
}

.button.red { background: url("../img/buttons/button-red.png") repeat-x scroll 0 0 #6b352b; }
.button.red:hover { background: url("../img/buttons/button-red.png") repeat-x scroll 0 -24px #834a3f; }
.button.red:active { background: url("../img/buttons/button-red.png") repeat-x scroll 0 -48px #a85f51; }


/* ==================================================
 * 4) Msgbox
 * ================================================== */
.msgbox
{
  background:url(../img/msgbox/background.png) repeat-x left bottom;
  padding-bottom:55px;
  font-style:normal;
}

.msgbox-wrapper
{
  padding:20px 20px 20px 100px;
}

.msgbox-buttons
{
  padding:15px;
  text-align:right;
  position:absolute;
  bottom:0;
  right:0;
}

.msgbox-buttons button,
.msgbox-buttons input
{
  margin-left:10px;
  min-width:85px;
  padding:0 14px 2px;
  height:24px;
  cursor:pointer;
}

.msgbox-inputs
{
  margin-top:4px;
}

.msgbox-inputs input,
.msgbox-inputs select
{
  display:block;
  padding:3px 2px;
  border:1px solid #dddddd;
  margin:3px 0 6px 0;
  width:95%;
}

.msgbox-inputs textarea
{
  resize: vertical; 
  width:95%;
  display:block;
  padding:3px 2px;
  border:1px solid #dddddd;
  margin:3px 0 6px 0;
}

.msgbox-label
{
  font-weight:bold;
  font-size:11px;
}

.msgbox-alert
{
  background: url(../img/msgbox/alert.png) no-repeat 20px 20px;
}

.msgbox-info
{
  background: url(../img/msgbox/info.png) no-repeat 20px 20px;
}

.msgbox-error
{
  background: url(../img/msgbox/error.png) no-repeat 20px 20px;
}

.msgbox-prompt
{
  background: url(../img/msgbox/question.png) no-repeat 20px 20px;
}

.msgbox-confirm
{
  background: url(../img/msgbox/confirm.png) no-repeat 20px 20px;
}