<?xml version="1.0" encoding="UTF-8"?>
<module>
    <info>
        <name>Dev Test Module</name>
        <author>Plexis Dev Team</author>
        <authorEmail />
        <authorUrl />
        <copyright />
        <version>1.0.0</version>
    </info>
    <config>
        <hasAdmin>true</hasAdmin>
    </config>
</module>