<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Comments removed. For instructions, please refer to the
    Plexis documentation website http://plexis.github.com/Plexis
-->
<module>
    <info>
        <name>Plexis Core Admin Module</name>
        <author>Plexis Dev Team</author>
        <authorEmail />
        <authorUrl />
        <copyright />
        <version>1.0.0</version>
    </info>
    <routes>
        <!-- Allows for 3 part uri's -> module/controller/action -->
        <route module="admin" action="*">
            <controller>@action</controller>
            <method>@param</method>
        </route>
    </routes>
</module>