<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Comments removed. For instructions, please refer to the
    Plexis documentation website http://plexis.github.com/Plexis
-->
<module>
    <info>
        <name>Plexis Core Error Module</name>
        <author>Plexis Dev Team</author>
        <authorEmail />
        <authorUrl />
        <copyright />
        <version>1.0.0</version>
    </info>
    <routes>
        <route module="error" action="403">
            <controller>Show403</controller>
            <method>index</method>
        </route>
        <route module="error" action="404">
            <controller>Show404</controller>
            <method>index</method>
        </route>
        <route module="error" action="offline">
            <controller>SiteOffline</controller>
            <method>index</method>
        </route>
    </routes>
</module>