/*
 * Grape - Professional & Flexible Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Toolbox
 * 2) Block-Actions
 * 3) Dropdown-Menu
 * 4) Breadcrumbs
 * 5) Block List
 * 6) Shortcut List
 * 7) Contact List
 * 8) Overview-List
 */

/* ==================================================
 * 1) Toolbox
 * ================================================== */

#container > #header-surround > #header > ul.toolbox-header {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	float: left;
	position: relative;
	z-index: 1000;
}

#container > #header-surround > #header > ul.toolbox-header li {
	float: left;
}

#container > #header-surround > #header > ul.toolbox-header li a.toolbox-action {
	background: url("../img/container/header/header-bg.png") repeat-x scroll top left transparent;
	height: 43px;
	width: 45px;
	float: left;
}

#container > #header-surround > #header > ul.toolbox-header li a.toolbox-action:hover {
	background: url("../img/container/toolbox/toolbox-hover.png") no-repeat scroll top left transparent;
}

#container > #header-surround > #header > ul.toolbox-header li span {
	width: 24px;
	height: 24px;
	display: block;
	margin-top: 9px;
	margin-left: 11px;
}

#container > #header-surround > #header > ul.toolbox-header a.active {
	background: url("../img/container/toolbox/toolbox-hover.png") no-repeat scroll top left transparent;
}






/* ==================================================
 * 2) Block-Actions
 * ================================================== */

.block-actions ul {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin-top: 5px;
	
}

.block-actions ul li {
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}

.block-actions ul.actions-left {
	float: left;
	margin-left: 5px;
    padding-top: 4px;
}

.block-actions ul.actions-right {
	float: right;
	margin-right: 5px;
    padding-top: 4px;
}






/* ==================================================
 * 3) Dropdown-Menu
 * ================================================== */

ul.dropdown-username-menu {
	display: none;
	position: absolute;
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	right: 10px;
	z-index: 99999;
	border: 1px solid #848b93;
	border-top: none;
	width: 160px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	
	background: url("../img/misc/shine-effect.png") repeat-x scroll 0 0 rgba(33, 40, 44, 0.7);
	border: 1px solid #25333c;
	border-radius: 5px 5px 5px 5px;
	padding: 4px;
}

ul.dropdown-username-menu li {
	background: url("../img/misc/dropdown/dropdown-username-menu-bg.png") repeat-x scroll top left #ebebeb;
	min-height: 25px;
	border-top: 1px solid #848b93;
	line-height: 25px;
	padding-left: 5px;
}

ul.dropdown-username-menu li:hover {
	background: url("../img/misc/dropdown/dropdown-username-menu-bg-hover.png") repeat-x scroll top left #b2b7bb;
}

ul.dropdown-username-menu li a {
	display: block;
	color: #555555;
}

ul.dropdown-username-menu li a:hover {
	text-decoration: none;
}






/* ==================================================
 * 4) Breadcrumbs
 * ================================================== */

#breadcrumbs {
    height: 42px;
    line-height: 42px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
    font-weight: bold;
}

#breadcrumbs li,  #breadcrumbs li a{
    color: #9f9f9f;
	list-style-type: none;
    padding-left: 5px;
    float: left;
}

#breadcrumbs li:hover,  #breadcrumbs li a:hover{
	color: #6fb4db;

}

#breadcrumbs li.no-hover {
	background: none;
}

#breadcrumbs a {
	height: 40px;
	background: url("../img/misc/breadcrumb/bc-seperator.png") no-repeat scroll top right transparent;
    padding-right: 20px;
    text-decoration: none;
    display: block;
}

#bc-home {
	background-image: url("../img/icons/misc/home-hover.png");
	background-position: 0px 5px;
	display: block;
	height: 32px;
	width: 32px;
}







/* ==================================================
 * 5) Block List
 * ================================================== */

ul.block-list {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 15px 0;
}

ul.block-list li {
	background-color: #e9e9e9;
	padding: 5px 10px;
	margin-bottom: 4px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}

ul.block-list li:hover {
	background-color: #dfdfdf;
}

ul.block-list.with-icon li {
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 35px;
}






/* ==================================================
 * 6) Shortcut List
 * ================================================== */

ul.shortcut-list {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
}

ul.shortcut-list li {
	background: url("../img/misc/lists/shortcut-list-bg.png") repeat-x scroll top left #d3d3d3;
	border: 1px solid #bcbcbc;
	float: left;
	overflow: hidden;
	margin: 10px 5px;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
}

ul.shortcut-list li:hover {
	background: none repeat scroll top left #e7e7e7;
	border-color: #a3a3a3;
}

ul.shortcut-list li a {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 90px;
	height: 85px;
	padding: 10px 5px;
	overflow: hidden;
}

ul.shortcut-list li img {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	overflow: hidden;
}

ul.shortcut-list li:hover a {
	text-decoration: none;
	padding-top: 11px;
	margin-bottom: -1px;
}






/* ==================================================
 * 7) Contact List
 * ================================================== */

.slider { margin-left: -10px; margin-right: -10px; width: auto; min-height: 150px; display: block; position: relative; background: #fafafa; overflow: hidden; }
.slider ul { list-style: none; }
.slider-content { float: left; width: auto; display: block; overflow: auto; min-height: 150px; }
.slider-content ul { margin-top: 0; margin-left: -40px; float: left; width: auto; display: block; position: relative; }
.slider-content ul li { float: left; width: 100%; }
.slider-content ul ul li a { padding: 5px 10px; display: block; border-bottom: 1px solid #f3f3f3; text-transform: capitalize; }
.slider-content ul ul li a:hover { background: #f3faff; border-color: #d5ebf9; }
.slider-content .title { padding: 5px 0; text-indent: 10px; background: url("../img/misc/contact-list/contactlist-bg.png") repeat-x scroll top left #d9d9d9; border-top: 1px solid #bbbbbb; border-bottom: 1px solid #bbbbbb; color: #585858; width: 100%; float: left; font-weight: bold; text-transform: uppercase; }
.slider-content .selected .title { background: url("../img/misc/contact-list/contactlist-selected-bg.png") repeat-x scroll top left #d9d9d9; color: #fff; border-top: 1px solid #2d4259; border-bottom: 1px solid #2d4259; }
.slider .slider-nav { position: absolute; right: 0; top: 0; margin-top: 2px; background: url("../img/misc/contact-list/contactlist-nav-bg.png") repeat-x scroll top left #e1e1e1; min-height: 150px; border-left: 1px solid #bbbbbb; }
.slider .slider-nav ul { padding: 5px 0; }
.slider .slider-nav li a { padding: 3px 15px; line-height: 13px; text-align: center; color: #585858; font-weight: bold; display: block; text-transform: uppercase; cursor: pointer; }
.slider #debug { position: absolute; bottom: 0; left: 0; padding: 5px; background: #000; color: #fff; }
/*.slider .arrow { font-size: 0px; line-height: 0%; width: 0px; border-bottom: 8px solid #fff; border-left: 5px solid #333; border-right: 5px solid #333; position: relative; top: 5px; }*/
.slider .down { border-bottom: none; border-top: 8px solid #fff; top: 15px; }
.slider .slide-up, .slider .slide-down { height: 20px; background: url("../img/misc/contact-list/contactlist-bg.png") repeat-x scroll top left #d9d9d9; text-align: center; cursor: pointer; float: right; width: 100%; position: relative; border-top: 1px solid #bbbbbb; border-bottom: 1px solid #bbbbbb; }







/* ==================================================
 * 8) Overview-List
 * ================================================== */

ul.overview-list {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 15px 0;
}

ul.overview-list li {
	border-top: 1px dotted #a5a5a5;
	padding: 5px 0;
}

ul.overview-list li:first-child {
	border-top: none;
}

ul.overview-list li:hover {
	background-color: #ededed;
}

ul.overview-list li a {
	display: block;
}

ul.overview-list li a:hover {
	text-decoration: none;
}

ul.overview-list li span {
	font-weight: 700;
	font-size: 22px;
	display: inline-block;
	text-align: right;
	width: 80px;
	margin-right: 5px;
}








