<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE On
</IfModule>

<IfModule !mod_rewrite.c>
    # Tell PHP that the mod_rewrite module is DISABLED.
    SetEnv HTTP_MOD_REWRITE Off
</IfModule>

<Files "install.lock">
	Order deny,allow
	Deny from all
</Files>