.dataTables_wrapper
{
    margin-bottom: 25px;
}
.dataTables_filter label
{
    padding-top: 2px;
    display: table-row;
    width: 225px;
    float: right;
    text-align: left;
    cursor: pointer;
}
.dataTables_filter input
{
    margin-left: 5px;
	width: 150px;
    display: table-row;
}
.dataTables_length label
{
    margin: 0;
}
.dataTables_paginate {
    width: 100%;
    text-align: center;
	margin: 5px auto;
}
.paginate_button, .paginate_active {
	background-color: #666;
	border-style: solid;
	border-width: 1px;
	border-color: #222 #333 #333 #222;
	margin: 0;
	padding: 2px 10px;
	cursor: pointer;
}
.dataTables_info {
    width: 100%;
    text-align: center;
	margin: 0 auto;
}
.paginate_button_disabled {
	cursor: default;
}

.paginate_active {
	background-color: #5d7694;
	border-color: #31537b;
}

.first {
	border-radius: 3px 0 0 3px;
}

.last {
	border-radius: 0 3px 3px 0;
}