body 
{
	background:url(../images/background.jpg) #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	margin:0;
	padding:0;
	font:12px Arial, Tahoma, Verdana;
	line-height:18px;
	color:#ccc;
}

/* ==================================================
 * 1) Main Container
 * ================================================== */
#container 
{
	margin:0 auto;
	width:804px;
}
#content-container 
{
    background: #000;
	margin:0 auto;
	width:804px;
    padding-left: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

/* ==================================================
 * 2) Baisc Styles
 * ================================================== */
ul,ol,p,h1,h2,h3,h4,blockquote,fieldset 
{
	margin:0;
	padding:0;
}
a 
{
	text-decoration:none;
	outline:none;
	color:#77B6CD;
}
a:hover 
{
	color:#0D8AAA;
}
img 
{
	border:none;
}
.clearfix:after 
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.left-img 
{
	float:left;
	border:1px solid #000;
	margin:4px 7px 0 0;
}
.right-img 
{
	float:right;
	border:1px solid #000;
	margin:5px 0 0 7px;
}
blockquote 
{
	background:url(../images/blockquote.gif) no-repeat top left;
	padding:10px 0 0 40px;
	font-style:italic;
}

/* ==================================================
 * 3) Header
 * ================================================== */

#header 
{
	width:802px;
	height:150px;
}
#logo 
{
	width:243px;
	height:60px;
	position:absolute;
	margin-top:74px;
}

/* ==================================================
 * 4) Navigation
 * ================================================== */
div#nav {
	width: 800px;
}
div#nav ul, li, p {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
/** Main navigation **/
div#nav ul.navigation {
    text-align: center;
	width: inherit;
	height: 40px;
	background: #222;
	border-top: 1px solid #2E2E2E;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
	clear: both;
	position: relative;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* Top 1px border above LI elements */
div#nav ul.navigation:after {
	content: '\00a0';
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	border-top: 1px solid #666;
	background: transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* Using box shadow to simulate gradient and hide part of LI borders */
div#nav ul.navigation:before {
	content: '\00a0';
	position: absolute;
	display: block;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	z-index: 40;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: inset 0 -20px 15px #0D0D0D;
	-moz-box-shadow: inset 0 -20px 15px #0D0D0D;
	box-shadow: inset 0 -20px 15px #0D0D0D;
}
/* Main LI element style */
div#nav ul.navigation li {
	margin-top: 1px;
	float: left;
	border-right: 1px solid #0F7393;
	border-left: 1px solid #222222;
	position: relative;
}
div#nav ul.navigation li:first-child {
	border-left: none;
}
div#nav ul.navigation li:last-child {
	border-right: none;
}
/* Main link styling */
div#nav ul.navigation li a {
	display: block;
	position: relative;
	z-index: 999;
	padding: 0 20px;
	color: #DCDCDC;
	font: normal 14px/39px 'Amaranth', sans-serif;

	text-decoration: none;
}
div#nav ul.navigation li:hover a {
	color: #777;
    /* border-bottom: 1px solid #0F7393; */
}

/** Sub navigation - level 1 **/
div#nav ul.navigation li ul.subnav {
	display: none;
	background: #222;
	width: 160px;
	border: 1px solid #000;
    z-index: 998;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div#nav ul.navigation li:hover ul.subnav {
	display: block;
	position: absolute;
	top: 49px;
	left: 0;
}
/* Transparent div that is used to connect main and sub UL list so when mouse go over empty space sub menu doesn't close */
div#nav ul.navigation li ul.subnav:after {
	content: '\00a0';
	position: absolute;
	z-index: 50;
	top: -11px;
	left: 0;
	width: 100%;
	background: transparent;
	display: block;
}
/* Using box-shaow to hide edges of LI borders in sub menu making soft edges */
div#nav ul.navigation li ul.subnav:before, div#nav ul.navigation li ul.subnav li ul.subnav-out:before {
    display: block;
	content: '\00a0';
	position: absolute;
	z-index: 60;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    
    /* Main Sub Nav Inset Colors! #D8D8D8 */
	-webkit-box-shadow: inset 30px 10px 30px #222, inset -30px 10px 30px #222;
	-moz-box-shadow: inset 30px 10px 30px #222, inset -30px 10px 30px #222;
	box-shadow: inset 30px 10px 30px #222, inset -30px 10px 30px #222;
}
/* Sub menu LI style */
div#nav ul.navigation li ul.subnav li {
	width: 158px;
	position: relative;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #333 transparent #222 transparent; /* Border color inside the Subnav */
}

/* Color of glow between links, in the subnav */
div#nav ul.navigation li ul.subnav li:hover {
	-webkit-box-shadow: inset 0 -5px 5px #555;
	-moz-box-shadow: inset 0 -5px 5px #555;
	box-shadow: inset 0 -5px 5px #555;
}
div#nav ul.navigation li ul.subnav li:first-child {
	border-top: 0;
}
div#nav ul.navigation li ul.subnav li:last-child {
	border-bottom: 0;
}
/* Sub menu link style */
div#nav ul.navigation li ul.subnav li a {
	display: block;
	position: relative;
	z-index: 80;
	color: #DCDCDC;
    border-bottom: none;
	font: normal 14px/28px 'Amaranth', sans-serif;

}
div#nav ul.navigation li ul.subnav li:hover a {
	color: #DCDCDC;
}
/* Circle span element that shows that sub LI element has another drop down option */
div#nav ul.navigation li ul.subnav li span.spmore {
	content: '';
	position: absolute;
	z-index: 999;
	top: 10px;
	right: 10px;
	height: 8px;
	width: 8px;
    border: 1px solid #555;
	background: #0F7393;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 1px 1px 2px #000;
	-moz-box-shadow: inset 1px 1px 2px #000;
	box-shadow: inset 1px 1px 2px #000;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
/** Sub navigation - level 2 **/
div#nav ul.navigation li ul.subnav li ul.subnav-out {
	display: none;
	background: #333;
	width: 160px;
	border: 1px solid #000;
    z-index: 999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div#nav ul.navigation li ul.subnav li:hover ul.subnav-out {
	display: block;
	position: absolute;
	top: 0px;
	left: 163px;
}
/* Transparent div that is used to connect sub and sub 2nd UL list so when mouse go over empty space sub menu doesn't close */
div#nav ul.navigation li ul.subnav li ul.subnav-out:after {
	content: '\00a0';
	position: absolute;
	z-index: 100;
	top: 0;
	left: -12px;
	width: 12px;
	height: 100%;
	background: transparent;
	display: block;
}
/* Sub 2nd menu link style */
div#nav ul.navigation li ul.subnav li ul.subnav-out li a {
	display: block;
	position: relative;
	z-index: 80;
	color: #DCDCDC;
	font: normal 14px/28px 'Amaranth', sans-serif;
}
div#nav ul.navigation li ul.subnav ul.subnav-out li:hover a {
	color: #DCDCDC;
}

/* ==================================================
 * 5) Main Content Box
 * ================================================== */

#main 
{
	width:760px;
	border-right:1px solid #000;
	border-left:1px solid #000;
	padding:20px 20px 0 20px;
	background:#0D0D0D;
}

/* ==================================================
 * 6) Right - Side Bars
 * ================================================== */
#right 
{
	width:200px;
	float:right;
	color:#999;
}
.right-box 
{
	margin-bottom:20px;
    background: #151515;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    
}
.right-box p
{
	padding:5px;
}
.right-box h3
{
	background:url(../images/title-short.jpg) no-repeat;
	width:200px;
	padding:8px 0 7px 33px;
	font:12px Arial, Tahoma, Verdana;
	text-transform:uppercase;
	color:#6ec2d1;
}
.right-box ul 
{
	list-style:none;
	padding:10px;
}
.right-box li 
{
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-bottom:1px solid #3B3B3B;
}
.right-box li:last-child 
{
	padding:0;
	margin:0;
	border-bottom:none;
}
.right-box a 
{

	color:#999;
}
.right-box a:hover 
{
	color:#77B6CD;
}
.right-box span 
{
	display:block;
	text-align:right;
}
.more-link 
{
	display:inline !important;
	color:#77B6CD;
}


/* ==================================================
 * 7) Left - Main Content
 * ================================================== */
#left 
{
	float:left;
	width:540px;
	margin-right:20px;
}
#left p 
{
	margin-bottom:15px;
}
.left-box 
{
	margin-bottom:20px;
	background: #151515;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.left-box h2 /*this is box's title*/ 
{
	background:url(../images/title-long.jpg) no-repeat;
	width:507px;
	padding:8px 0 7px 33px;
	font:12px Arial, Tahoma, Verdana;
	text-transform:uppercase;
	color:#6ec2d1;
}
.left-box-content 
{
	padding:15px 15px 5px 15px;
}
.left-box-content h3 
{
	border-bottom:1px solid #333;
	padding-bottom:2px;
	margin-bottom:5px;
	font:18px arial;
}
.left-box-content h4 
{
	border-bottom:1px solid #333;
	padding-bottom:2px;
	margin-bottom:5px;
	font:16px arial;
}
.left-box-content h5 
{
	border-bottom:1px solid #333;
	padding-bottom:2px;
	margin-bottom:5px;
	font:14px arial;
}
.left-box-content ul 
{
	margin:10px 0 10px 30px;
	list-style:circle;
}
.left-box-content ol 
{
	margin:10px 0 10px 30px;
}
.left-news-foot 
{
    color:#6ec2d1;
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
	border-top:1px solid #111;
    font-size: 11px;
}

/* ==================================================
 * 8) Footer
 * ================================================== */
#footer 
{
    color: #999;
	width:765px;
	height:25px;
	padding:15px 20px 10px 15px;
	background:url(../images/footer.jpg) no-repeat #000;
    margin-bottom: 30px !important;
    margin-left:1px;
    margin-right: -15px;
}
#footer-left
{
	float:left;
}
#footer-right
{
	float:right;
}

/* ==================================================
 * 9) FrontPage Feature Slides
 * ================================================== */
#slide 
{
	width:540px;
	height:272px;
	margin-bottom:20px;
}
.slide-image img 
{
	display:block;
}
.slide-image p 
{
	width:540px;
	padding:11px 0 13px 15px;
	position:absolute;
	background:url(../images/slide-description.png) no-repeat;
	color:#fff;
	margin-top:-39px;
}
#slide-tabs 
{
	position:absolute;
	margin:-42px 0 0 475px;
	z-index:100;
}
#slide-tabs a 
{
	display:block;
	text-indent:-9999pt;
	background:url(../images/slide-dots.png) no-repeat;
	width:8px;
	height:8px;
	float:left;
	margin-right:3px;
}
#slide-tabs a:hover, .activeSlide 
{
	background:url(../images/slide-dots.png) 0 -8px no-repeat !important;
}

/* ==================================================
 * 10) Forms
 * ================================================== */
fieldset 
{
    border: 1px solid #222;
    margin: 10px;
    padding:10px 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
fieldset img
{

    margin-left: 25px;
    margin-bottom: 5px;
}
legend
{
    padding: 0 10px;
	line-height: 16px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #222;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
textarea 
{
    overflow: auto; 
    vertical-align: top; 
    resize: vertical;
	font:12px Arial, Tahoma, Verdana;
	width:300px;
	height:150px;
}
input 
{
	font:12px Arial, Tahoma, Verdana;
	display:block;
}
input[type="text"], input[type="password"], textarea, select
{
    outline: none;
	border:1px solid #333;
    padding:5px;
	background:#222;
	margin-bottom:10px;
	color:#bbb;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: inset 0 3px 10px 2px #111;
    -webkit-box-shadow: inset 0 3px 10px 2px #111;
    box-shadow: inset 0 3px 10px 2px #111;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:hover
{
    outline: none;
    -moz-box-shadow: 0 0 5px 1px #0F7393, inset 0 3px 10px 2px #111;
    -webkit-box-shadow: 0 0 5px 1px#0F7393, inset 0 3px 10px 2px #111;
    box-shadow: 0 0 5px 1px #0F7393, inset 0 3px 10px 2px #111;

}
label
{
    padding-top: 2px;
    display: block;
    width: 150px;
    float: left;
    margin: 2px 5px 6px 10px;
    text-align: right;
    cursor: pointer;
}
select {
    background-color: #222;
    color: #999;
    border: 1px solid #333;
    clear: right;
}
.top-label
{
    padding-top: 0px;
    width: auto;
    margin: 0 0 2px 0;
	display:block;
}

/* FORM VALIDATION */
input[type="text"].input-error, input[type="password"].input-error, textarea.input-error, select.input-error 
{
    outline: none;
    -moz-box-shadow: 0 0 5px 1px #bf0000, inset 0 3px 10px 2px #111;
    -webkit-box-shadow: 0 0 5px 1px #bf0000, inset 0 3px 10px 2px #111;
    box-shadow: 0 0 5px 1px #bf0000, inset 0 3px 10px 2px #111;
}
div.input-error 
{
	color: #bf0000;
	font-weight: bold;
    margin-top: -7px;
    margin-left: 165px;
    margin-bottom: 10px;
}


/* ==================================================
 * 11) Buttons
 * ================================================== */
.button 
{
    background:#082029;
    border-color: #051219; 
    display: inline-block;
    position: relative;
    outline: none;
    text-decoration: none !important; 
    color: white;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    font-size:11px;
    font-weight: none;
    white-space: pre;    
    border: 1px solid black;
    padding: 6px 12px 7px 12px;
    margin-right: 5px;
    min-height: 13px;
    
    /* Border Radius */
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;    
    border-radius: 3px;
    
    /* Background Clip Fix Some Pixels When Using Border Radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    
    /* Transition */
    -webkit-transition:All 0.3s ease;
    -moz-transition:All 0.3s ease;
    -o-transition:All 0.3s ease;
    
    /* Shadows */
    -moz-box-shadow: 
        inset 0 0 1px rgba(255,255,255,0.1) ,
        inset 0 1px 0 rgba(255,255,255,0.1) ,
        inset 0 -1px 0 rgba(255,255,255,0.05) ,
        0 1px 0 rgba(255,255,255,0.02) ,
        inset 0 8px 20px rgba(255,255,255,0.08) ,
        inset 0 14px 0 rgba(255,255,255,0.02)    
    ;
    -webkit-box-shadow: 
        inset 0 0 1px rgba(255,255,255,0.1) ,
        inset 0 1px 0 rgba(255,255,255,0.1) ,
        inset 0 -1px 0 rgba(255,255,255,0.05) ,
        0 1px 0 rgba(255,255,255,0.02) ,
        inset 0 8px 20px rgba(255,255,255,0.08) ,
        inset 0 14px 0 rgba(255,255,255,0.02)    
    ;    
    box-shadow:         
        inset 0 0 1px rgba(255,255,255,0.1) ,
        inset 0 1px 0 rgba(255,255,255,0.1) ,
        inset 0 -1px 0 rgba(255,255,255,0.05) ,
        0 1px 0 rgba(255,255,255,0.02) ,
        inset 0 8px 20px rgba(255,255,255,0.08) ,
        inset 0 14px 0 rgba(255,255,255,0.02)
    ;                 
}
/* Fix FF inner focus */
.button::-moz-focus-inner 
{
    border:0;
    padding:0;
    margin:0;
}

/* Button Hover & Focus */
.button:hover,
.button:focus 
{
    background: #071821;
    cursor: pointer;
    color: #FFFFFF;
    
    /* Transition */
    -webkit-transition:All 0.3s ease;
    -moz-transition:All 0.3s ease;
    -o-transition:All 0.3s ease;
    
    /* Shadows */
    
    -moz-box-shadow:         
        inset 0 0 1px rgba(255,255,255,0.1) ,
        inset 0 1px 0 rgba(255,255,255,0.08) ,
        inset 0 -1px 0 rgba(255,255,255,0.05) ,
        0 1px 0 rgba(255,255,255,0.05) ,
        inset 0 8px 20px rgba(255,255,255,0.06) ,
        inset 0 14px 0 rgba(255,255,255,0.02),
        0 0 3px rgba(0,0,0,0.2)
    ;
    -webkit-box-shadow:         
        inset 0 0 1px rgba(255,255,255,0.1) ,
        inset 0 1px 0 rgba(255,255,255,0.08) ,
        inset 0 -1px 0 rgba(255,255,255,0.05) ,
        0 1px 0 rgba(255,255,255,0.05) ,
        inset 0 8px 20px rgba(255,255,255,0.06) ,
        inset 0 14px 0 rgba(255,255,255,0.02),
        0 0 3px rgba(0,0,0,0.2)
    ;
    box-shadow:         
        inset 0 0 1px rgba(255,255,255,0.1) ,
        inset 0 1px 0 rgba(255,255,255,0.08) ,
        inset 0 -1px 0 rgba(255,255,255,0.05) ,
        0 1px 0 rgba(255,255,255,0.05) ,
        inset 0 8px 20px rgba(255,255,255,0.06) ,
        inset 0 14px 0 rgba(255,255,255,0.02),
        0 0 3px rgba(0,0,0,0.2)
    ; 
}
.button:disabled,
{
    opacity:0.3;
}
.buttons a 
{
	text-decoration:none;
    color: #FFFFFF;
    border:none;
}
.buttons a:hover 
{
	color:#FFFFFF;
    border:none;
}

/* ==================================================
 * 12) Breadcrums.
 * ================================================== */
#breadcrumb
{
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('../images/bc_bg.png');
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#breadcrumb li
{
    list-style-type:none;
    float:left;
    padding-left:10px;
}

#breadcrumb a
{
    height:30px;
    display:block;
    background-image:url('../images/bc_separator.png');
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#454545;
}

#breadcrumb a:hover
{
    color:#35acc5;
}

.home
{
    border: none;
    margin: 8px 0px;
}



/* ==================================================
 * 13) Misc.
 * ================================================== */
.div-center
{
    margin: 0 auto;
}
.right
{
    float: right;
    margin-right: 5px;
}
.left
{
    float: left;
}
.no-border
{
    border: none;
}
.login-right
{
    padding: 2px 0;
    margin: 0px 10px;
    border: none;
}
.realm-name
{
    margin-top: -2px;
    margin-left: 20px;
    font-weight: bold;

}

/* ==================================================
 * 14) Crappy IE Fixes
 * ================================================== */
 .ie .top-label
{
    text-align: left;
    width: 100%;
    margin: 0 0 2px 0;
	display:block;
}
.ie6 #right 
{
	margin-right:-20px;
}
.ie6 .left-box-content 
{
	width:510px;
}
.ie6 #slide-tabs li a 
{
	background:url(../images/slide-dots.png) 0 -8px no-repeat;
}
.ie7 #main
{
	padding-bottom:15px;
}
.opera #slide-tabs
{
	margin:-22px 0 0 475px;
}