<?xml version="1.0" encoding="UTF-8"?>
<module>
    <info>
        <name>Plexis Core Admin Module</name>
        <author>Plexis Dev Team</author>
        <authorEmail />
        <authorUrl />
        <copyright />
        <version>1.0.0</version>
    </info>
    <routes>
        <route module="account" action="index" />
        <route module="account" action="login" />
        <route module="account" action="logout" />
    </routes>
</module>