/*
 * Grape - Professional & Flexible Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Validation
 * 3) Grid
 * 4) Inline Label
 * 5) Search-Form
 * 6) Uniform Theme
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

.form p.inline-label, .form p.inline-medium-label, .form p.inline-small-label {
	padding-right: 10px;
}


.form fieldset {
	border: 1px solid #b7c4d1;
	border-radius: 3px 3px 3px 3px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.form fieldset p.inline-label, .form fieldset p.inline-medium-label, .form fieldset p.inline-small-label {
	padding-right: 0;
}

.form fieldset legend {
	background: url("../img/forms/legend-bg.png") repeat-x scroll top left #dcdcdc;
	padding: 5px 10px;
	line-height: 16px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	border-radius: 5px 5px 5px 5px;
}

.form label, .form .label {
	display: block;
	margin-bottom: 5px;
}

.form input[type="text"], .form input[type="password"], .form textarea {
	border: 1px solid #D1D1D1;
	border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA;
	border-radius: 3px 3px 3px 3px;
	line-height: 1.5em;
	padding: 5px 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.form input[type="text"]:hover, .form input[type="password"]:hover, .form textarea:hover {
	border-color: #a3a3a3;
}

.form input[type="text"]:focus, .form input[type="password"]:focus, .form textarea:focus {
	border-color: #666666;
}







/* ==================================================
 * 2) Validation
 * ================================================== */

div.error {
	color: #740000;
	font-weight: 700;
}

div.jGrowl div.error {
	color: #fff;
	font-weight: 400;
}

input[type=text].error, input[type=password].error, textarea.error {
	border-color: #bf0000 !important;
}

p.inline-small-label label.error {
	margin-left: 0 !important;
}





/* ==================================================
 * 3) Grid
 * ================================================== */

._25 {
    width: 21%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._50 {
    width: 46%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._75 {
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._100 {
    width: 96%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
input, textarea, select {
    width: 100%;
}

p.no-top-margin {
	margin-top: 0;
}



/* ==================================================
 * 4) Inline Label
 * ================================================== */

.inline-label label, .inline-label .label, .inline-medium-label label, .inline-medium-label .label, .inline-small-label label, .inline-small-label .label, .inline-mini-label label, .inline-mini-label .label {
	float: left;
	display: block;
	padding: 4px 0 0 4px;
}

p.inline-label { padding-left: 200px; }
.inline-label label, .inline-label .label { margin-left: -200px; }

p.inline-medium-label { padding-left: 150px; }
.inline-medium-label label, .inline-medium-label .label { margin-left: -150px; }

p.inline-small-label { padding-left: 100px; }
.inline-small-label label, .inline-small-label .label { margin-left: -100px; }

p.inline-mini-label { padding-left: 70px; }
.inline-mini-label label, .inline-mini-label .label { margin-left: -70px; }






/* ==================================================
 * 5) Search-Form
 * ================================================== */

#search-form input[type="text"] {
	background: url("../img/icons/misc/search.png") no-repeat scroll 8px 6px #fff;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 4px;
	padding-left: 25px;
	padding-right: 10px;
	padding-bottom: 4px;
	border: 1px solid #b3b3b3;
	border-radius: 20px 20px 20px 20px;
	width: 205px;
}






/* ==================================================
 * 6) Uniform Theme
 * ================================================== */
/*

Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/

/* Global Declaration */

div.selector, 
div.selector span, 
div.checker span,
div.radio span, 
div.uploader, 
div.uploader span.action,
div.uniform-button,
div.uniform-button span {
  background-image: url(../img/forms/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.selector, 
.radio, 
.checker, 
.uploader,
.uniform-button, 
.selector *, 
.radio *, 
.checker *, 
.uploader *,
.uniform-button *{
  margin: 0;
  padding: 0;
}

/* INPUT & TEXTAREA */

input.text,
input.email, 
input.password,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 3px 0;
  color: #777;
  /*background: url('../img/forms/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../img/forms/bg-input.png') repeat-x 0px 0px;*/
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('../img/forms/bg-input-focus.png') repeat-x 0px 0px #fff;
}

/* SPRITES */

/* Select */

div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}

div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
  left: 0px;
}

div.selector:active, 
div.selector.active {
  background-position: -483px -156px;
}

div.selector:active span, 
div.selector.active span {
  background-position: right -26px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -483px -182px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -52px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -483px -208px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}

div.selector.disabled {
  background-position: -483px -234px;
}

div.selector.disabled span {
  background-position: right -104px;
}

/* Checkbox */

div.checker {
  width: 19px;
  height: 19px;
}

div.checker input {
  width: 19px;
  height: 19px;
}

div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}

div.checker:active span, 
div.checker.active span {
  background-position: -19px -260px;
}

div.checker.focus span,
div.checker:hover span {
  background-position: -38px -260px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -260px;
}

div.checker span.checked {
  background-position: -76px -260px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
  background-position: -95px -260px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -260px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -260px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -260px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}

/* Radio */

div.radio {
  width: 18px;
  height: 18px;
}

div.radio input {
  width: 18px;
  height: 18px;
}

div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}

div.radio:active span, 
div.radio.active span {
  background-position: -18px -279px;
}

div.radio.focus span, 
div.radio:hover span {
  background-position: -36px -279px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px;
}

div.radio span.checked {
  background-position: -72px -279px;
}

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -279px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -279px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -279px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}

/* Uploader */

div.uploader {
  background-position: 0px -297px;
  height: 28px;
}

div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}

div.uploader.disabled {
  background-position: 0px -325px;
}

div.uploader.disabled span.action {
  background-position: right -381px;
}

div.uniform-button {
  background-position: 0px -523px;
}

div.uniform-button span {
  background-position: right -643px;
}

div.uniform-button.focus,
div.uniform-button:focus,
div.uniform-button:hover,
div.uniform-button.hover {
  background-position: 0px -553px;
}

div.uniform-button.focus span,
div.uniform-button:focus span,
div.uniform-button:hover span,
div.uniform-button.hover span {
  background-position: right -673px; 
}

div.uniform-button.active,
div.uniform-button:active {
  background-position: 0px -583px;
}

div.uniform-button.active span,
div.uniform-button:active span {
  background-position: right -703px;
  color: #555;
}

div.uniform-button.disabled,
div.uniform-button:disabled {
  background-position: 0px -613px;
}

div.uniform-button.disabled span,
div.uniform-button:disabled span {
  background-position: right -733px;
  color: #bbb;
  cursor: default;
}

/* PRESENTATION */

/* Button */

div.uniform-button {
  height: 30px;
}

div.uniform-button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}

/* Select */
div.selector {
  width: 100%;
  min-width: 100px;
  max-width: 500px;
  font-size: 12px;
}

div.selector select {
  min-width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid 1px #fff;
}

div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: #666;
  width: 70%;
  text-shadow: 0 1px 0 #fff;
}

div.selector.disabled span {
  color: #bbb;
}

/* Checker */
div.checker {
  margin-right: 5px;
}

/* Radio */
div.radio {
  margin-right: 3px;
}

/* Uploader */
div.uploader {
  width: 190px;
  cursor: pointer;
}

div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}

div.uploader span.filename {
  color: #777;
  width: 82px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector, 
.checker, 
.uniform-button, 
.radio, 
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Button */

div.uniform-button a,
div.uniform-button button,
div.uniform-button input {
  position: absolute;
}

div.uniform-button {
  cursor: pointer;
  position: relative;
}

div.uniform-button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

/* Select */

div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.selector select {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  height: 25px;
  border: none;
  background: none;
}

/* Checker */

div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
  position: relative;
}

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}

/* Uploader */

div.uploader {
  position: relative;
  overflow: hidden;
  cursor: default;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: default;
}




