/*
 * Grape - Professional & Flexible Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Login-Box
 * 3) Error-Page (404)
 * 4) Header
 *   4.1) Generic
 *   4.2) User Info
 * 5) Footer
 * 6) Sidebar
 *   6.1) Login Details
 *   6.2) Navigation
 *   6.3) Badges
 * 7) Search-Bar & Title-Bar
 * 8) Main
 * 9) Generic Shadow
 * 10) Height Fixes
 * 11) Divider
 * 12) Image-Styles
 * 13) Blocks
 * 14) Tabs
 * 15) Toolbox
 * 16) Alert Boxes
 * 17) Tooltips
 * 18) Misc
 *   18.1) Noise
 *   18.2) Aligments
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

body {
	background: url("../img/container/navigation/nav-bg.png") repeat-y scroll top left #eeeeee;
}


/* ==================================================
 * 4) Header
 * ================================================== */

/*
 * 4.1) Generic
 */

#container > #header-surround > #header {
	background: url("../img/container/header/header-bg.png") repeat-x scroll top left transparent;
	height: 65px;
	position: relative;
	z-index: 30;
}

#container > #header-surround {
	background: url("../img/misc/shadow/shadow-bottom.png") repeat-x scroll bottom left transparent;
	padding-bottom: 14px;
	position: relative;
	z-index: 50;
}

.logo {
	margin-left: 10px;
	float: left;
}

#container > #header-surround > #header > #user-info > p > .messages {
	margin-right: 10px;
}


/*
 * 4.2) User Info
 */

#user-info {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

/* ==================================================
 * 5) Footer
 * ================================================== */

#container > #footer {
	background: url("../img/container/footer/footer-bg.png") repeat-x scroll bottom left transparent;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1000;
    color: #7d7d7d;
}

#footer .left {
    margin-top: 20px;
    padding: 5px;
	height: 50px;
	width: 261px;
	float: left;
    text-align: center;
}

#footer .right {
    margin-top: 20px;
    padding: 5px;
	height: 50px;
	width: 261px;
	float: right;
}

/* ==================================================
 * 6) Sidebar
 * ================================================== */

/*
 * 6.1) Login Details
 */

#login-details {
	background: url("../img/container/login-details/login-details-bg.png") repeat-x scroll top center #212f3b;
	margin-right: 1px;
	padding: 15px;
}


/*
 * 6.2) Navigation
 */

#container > #sidebar {
	float: left;
	width: 261px;
	position: absolute;
	z-index: 30;
}

#container > #sidebar > #nav > .menu {
	padding-bottom: 14px;
	margin-top: -1px;
}

#container > #sidebar > #nav > .menu li {
	overflow: hidden;
	margin-right: 1px;
	line-height: 39px;
}

#container > #sidebar > #nav > .menu li img {
	padding-right: 15px;
}

#container > #sidebar > #nav > .menu li a {
	background: url("../img/container/navigation/nav-item-bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #9e9e9e;
	display: block;
	text-decoration: none;
	padding-left: 20px;
}

#container > #sidebar > #nav > .menu li a.current {
	background: url("../img/container/navigation/nav-item-current-bg.png") repeat-x scroll top left transparent;
    color: #e3e5e7;
    border-bottom: 1px solid #2b4752;
}

#container > #sidebar > #nav > .menu li ul li a.current {
	background: none scroll top left #3b5060;
}

#container > #sidebar > #nav > .menu li a:hover {
    color: #000 !important;
	background: url("../img/container/navigation/nav-item-bg.png") repeat-x scroll 0 -39px transparent;
    border-bottom: 1px solid #9e9e9e;
}

#container > #sidebar > #nav > .menu li a span.arrow {
	background: url("../img/container/navigation/nav-arrows.png") no-repeat 0 0 transparent;
	position: absolute;
	right: 0;
	margin-top: 8px;
	margin-right: 5px;
	height: 24px;
	width: 24px;
}

#container > #sidebar > #nav > .menu li .active-icon span.arrow {
	background-position: 0px -24px;
}

#container > #sidebar > #nav > .menu li .non-active-icon span.arrow {
	background-position: 0px 0px;
}

#container > #sidebar > #nav > .menu li ul {
	background-color: #324452;
}

#container > #sidebar > #nav > .menu li ul li a {
	background: #696a6c;
	border-bottom: 1px solid #515352;
    border-top: 1px solid #7b7c7d;
}

#container > #sidebar > #nav > .menu li ul li a:hover {
    color: #ebe5e7 !important;
	background: none scroll top left #595a5c;
    border-top: 1px solid #686a6a;
    border-bottom: 1px solid #4c4d4d;
}

/*
 * 6.3) Badges
 */

.badge {
	background: none repeat scroll top left #293946;
	float: right;
	margin-right: 33px;
	margin-top: 10px;
	line-height: 20px;
	padding: 0 10px;
	border-radius: 10px 10px 10px 10px;
}

.badge.red {
	background: none repeat scroll top left #864135;
}

.badge.grey {
	background: none repeat scroll top left #d5d5d5;
}






/* ==================================================
 * 7) Search-Bar & Title-Bar
 * ================================================== */

#container > #main > #title-bar {
	background: url("../img/container/title-bar/title-bar-bg.png") repeat-x scroll top left transparent;
	height: 42px;
	position: relative;
	z-index: 30;
}

.shadow-titlebar {
	height: 14px;
}

#container > #sidebar > #search-bar {
	background: url("../img/container/title-bar/title-bar-bg.png") repeat-x scroll top left transparent;
	height: 42px;
	position: relative;
	z-index: 30;
	border-right: 1px solid #252525;
	margin-bottom: -1px;
    margin-left: -2px;
}





/* ==================================================
 * 8) Main
 * ================================================== */

#container > #main {
	margin-left: 261px;
}

#container > #main > #main-content {

	position: relative;
	min-height: 434px;
	margin-top: -14px;
	padding-top: 10px;
}



/* ==================================================
 * 9) Generic Shadow
 * ================================================== */

.shadow-top {
	background: url("../img/misc/shadow/shadow-top.png") repeat-x scroll top left transparent;
	height: 14px;
	position: relative;
	z-index: 100;
}

.shadow-bottom {
	background: url("../img/misc/shadow/shadow-bottom.png") repeat-x scroll bottom left transparent;
	position: relative;
	z-index: 30;
}





/* ==================================================
 * 10) Height Fixes
 * ================================================== */

.fix-shadow-bottom-height {
	margin-top: -14px;
}

.height-fix {
	height: 70px;
}





/* ==================================================
 * 11) Divider
 * ================================================== */

.divider-header {
	position: absolute;
	margin-left: 260px;
}

.divider-vertical {
	background: url("../img/misc/divider/divider-vertical.png") no-repeat scroll top left transparent;
	height: 34px;
	width: 2px;
	overflow: hidden;
}

.block-actions ul li.divider-vertical {
	margin-top: -5px;
	margin-right: -17px;
}





/* ==================================================
 * 12) Image-Styles
 * ================================================== */

.framed {
	background: none repeat scroll 0 0 #eeeff7;
	border: 1px solid #969696;
	line-height: 0;
	padding: 3px;
	border-radius: 3px 3px 3px 3px;
}

.img-left {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}





/* ==================================================
 * 13) Blocks
 * ================================================== */

.block-border {
	margin-top: 15px;
	background: url("../img/misc/shine-effect.png") repeat-x scroll 0 0 #828282;
	border: 1px solid #25333c;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.block-content {
	background: none repeat scroll 0 0 #fafafa;
	border-radius: 3px 3px 3px 3px;
	position: relative;
	padding: 0 10px;
	border: 1px solid #4b5e6b;
}

.block-content.dark-bg {
	background: url("../img/container/block/dark-bg.png") repeat-x scroll top left transparent;
	border: 1px solid #111a22;
	box-shadow: none !important;
}

.block-border .block-content + .block-content {
	margin-top: 5px;
}

.block-border .block-content {
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.block-header {
	background: url("../img/container/block/block-header-bg.png") repeat-x scroll top left #cfdee5;
	min-height: 38px;
	border: 1px solid #4b5e6b;
	border-bottom: 1px solid #9ba6ab;
    border-radius: 5px 5px 0px 0px;
	margin-bottom: -2px;
	position: relative;
	z-index: 5;
}

.block-header.small {
	min-height: 27px;
}

.block-actions {
    background: url("../img/container/block/block-actions-bg.png") repeat-x scroll top left transparent;
	background-color: #828282;
	border-radius: 0 0 5px 5px;
	height: 42px;
	overflow: hidden;
    border: 1px solid #343434;
    margin: 0 -11px -1px -11px;
}


.block-header span {
	background: url("../img/icons/small/close.png") no-repeat scroll 0 0 transparent;
	height: 20px;
	width: 20px;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	display: block;
	cursor: pointer;
}

.block-header span.closed {
	background: url("../img/icons/small/open.png") no-repeat scroll 0 0 transparent;
}

.block-header h1 {
	float: left;
    /*
    color: #faf9f7;
    text-shadow: 1px 1px 1px #475d68; 
    */
    color: #f3f3f3;
    text-shadow: 0 0 5px #2a4757;
    font-size: 15px !important;
}





/* ==================================================
 * 14) Tabs
 * ================================================== */

.block-header ul.tabs {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	margin-top: 13px;
	position: absolute;
	right: 5px;
}

.block-header ul.tabs li {
	float: left;
	padding: 5px 15px;
	margin-right: 3px;
	border-radius: 8px 8px 0px 0px;
	cursor: pointer;
	border: 1px solid transparent;
}

.block-header ul.tabs li.active {
	background: none repeat scroll top left #fafafa;
	border: 1px solid #9ba6ab;
	border-bottom: 1px solid #fafafa;
}

.block-header ul.tabs li:hover {
	background: none repeat scroll top left #fafafa;
	border: 1px solid #9ba6ab;
	border-bottom: 1px solid #fafafa;
}



/* ==================================================
 * 15) Toolbox
 * ================================================== */

.toolbox-content {
	background: url("../img/container/toolbox/toolbox-arrow.png") no-repeat scroll 51px 12px transparent;
	position: absolute;
	margin-left: -40px;
	top: 30px;
	z-index: 500;
	display: block;
	padding: 1em;
	min-width: 20em;
	line-height: 1em;
	display: none;
}







/* ==================================================
 * 16) Alert Boxes
 * ================================================== */

.alert {
	border: 1px solid;
	clear: both;
	margin-bottom: 9px;
	margin-top: 10px;
	padding: 10px 10px 10px 35px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.alert.no-margin {
	border-radius: 0 0 0 0;
	margin-left: -10px;
	margin-right: -10px;
	border-width: 1px 0;
}

.alert.no-margin.top {
	border-width: 0 0 1px 0;
	margin-top: 0;
}

.alert.no-margin.bottom {
	border-width: 1px 0 0px 0;
	margin-bottom: 0;
}

.alert span.hide {
	font-weight: bold;
	text-shadow: 1px 1px 0 #FFFFFF;
	float: right;
	cursor: pointer;
	margin: 0;
}

.alert.success { background-image: url("../img/icons/small/tick-circle.png"); background-color: #d1e8d2; border-color: #339933; color: #00632E; }
.alert.error { background-image: url("../img/icons/small/cross-circle.png"); background-color: #facfcf; border-color: #dc1c1c; color: #820101; }
.alert.warning { background-image: url("../img/icons/small/exclamation.png"); background-color: #fdefbd; border-color: #d4b64b; color: #675100; }
.alert.info { background-image: url("../img/icons/small/information.png"); background-color: #d8e7fa; border-color: #9DBFEA; color: #00357B; }
.alert.note { background-image: url("../img/icons/small/notebook.png"); background-color: #f4f4f4; border-color: #bdbdbd; color: #4d4d4d; }
.alert.loading { background-image: url("../img/icons/small/loading.gif"); background-color: #f4f4f4; border-color: #bdbdbd; color: #4d4d4d; }






/* ==================================================
 * 17) Tooltips
 * ================================================== */

.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background: url("../img/misc/tooltips/tooltip-bg.png") repeat-x scroll top left black; border: 1px solid black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../img/misc/tooltips/tooltip-arrow.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }




/* ==================================================
 * 18) Misc
 * ================================================== */

/*
 * 18.1) Noise
 */

.noise {
	background: url("../img/misc/noise.png") repeat scroll top left transparent;
	position: relative;
	z-index: 9999999;
}

/*
 * 18.2) Aligments
 */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}


.align-left {
	margin-left: 0;
	margin-right: auto;
	float: left !important;
}

.align-right {
	margin-left: auto;
	margin-right: 0;
	float: right !important;
}

.align-center {
	margin: 0 auto;
	float: none !important;
}



