/*
 * Grape - Professional & Flexible Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic
 * 2) Pagination Buttons
 * 3) Sort Icons
 *   1.3) Normal Style Positions
 *   1.4) Cross Browser Styling
 *   1.5) Themes
 *   1.6) Hide notifications when printing
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
}

.dataTables_wrapper .top {
	padding: 10px 10px;
	background: url("../img/tables/table-head-bg.png") repeat-x scroll top left #dddddd;
	border-bottom: 1px solid #949494;
	margin-top: 10px;
}

.dataTables_wrapper .block-actions {
	margin-top: 0;
	line-height: 35px;
	padding-left: 20px;
	padding-right: 20px;
}

.dataTables_wrapper {
	position: relative;
	margin: -9px -10px 0 -10px;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_length {
	float: left;
	padding-left: 100px;
}

.dataTables_length select {
	width: 70px !important;
}

.dataTables_length select span {
	width: 70px !important;
}

.dataTables_length label {
	margin-left: -100px;
}

.dataTables_filter {
	float: right;
	text-align: right;
	padding-left: 100px;
}

.dataTables_filter label {
	margin-left: -100px;
}

.dataTables_filter input {
	margin-left: 5px;
	width: 150px;
}

.dataTables_info {
	float: left;
}

.dataTables_processing {
	width: 100%;
    height: 100%;
    margin: 0 auto;
}

.dataTables_paginate {
	float: right;
}

.paging_full_numbers {
	
}

.table thead {
	background: url("../img/tables/table-head-bg.png") repeat-x scroll top left #dddddd;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
	border-left: none;
}

.table thead th:last-child {
	border-right: none;
}

.table thead th {
	vertical-align: middle;
	text-align: left;
	padding: 8px 13px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
	vertical-align: top;
	text-align: left;
	padding: 7px;
	border-left: 1px dotted #bebebe;
}

.table tbody td {
	background: #f2f2f2;
}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
	border-left: none;
}

.table tbody tr.even td {
	background: #e6e6e6;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
	background: #d8dce6;
}





/* ==================================================
 * 2) Pagination Buttons
 * ================================================== */

.paginate_button, .paginate_active {
	background-color: #ebebeb;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff #b5b5b5 #b5b5b5 #ffffff;
	margin: 0;
	padding: 2px 10px;
	cursor: pointer;
}

.paginate_button_disabled {
	cursor: default;
}

.paginate_active {
	background-color: #5d7694;
	border-color: #31537b;
}

.first {
	border-radius: 3px 0 0 3px;
}

.last {
	border-radius: 0 3px 3px 0;
}






/* ==================================================
 * 3) Sort Icons
 * ================================================== */

.sorting_asc {
	background: url('../img/tables/arrow-asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../img/tables/arrow-desc.png') no-repeat center right;
}

.sorting {
	background: url('../img/tables/arrow-both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: none;
}

.sorting_desc_disabled {
	background: none;
}

